<div class="container">
  <div class="row">
    <div class="box h5">
      <div class="justify-content-start">
        <h1 class="display-4">GameAPP</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <app-game-control (inc)="triggerStart($event)"></app-game-control>
  </div>
  <div class="row box">
    {{displayCount}}
  </div>
  <div class="row">
    <div class="col-xs-6">
      <app-odd
          *ngFor="let oddNumN of oddArr"
          [oddNum]="oddNumN">
      </app-odd>
    </div>
    <div class="col-xs-6">
      <app-even
          *ngFor="let evenNumN of evenArr"
          [evenNum]="evenNumN">
      </app-even>
    </div>
  
  </div>
</div>